
footer{
        background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
        padding: 0rem 0rem 1.5rem 0rem;
        flex-wrap: wrap;

    ul{
        display: flex;
        justify-content: center;
        list-style: none;
    li{
        margin-top: 2rem;
    }

    a{
        
        margin-right: 2rem;
        font-size: 1.5rem;
        border-radius: 50px;
        padding: 5p1rem;
        color: rgb(3, 11, 158);
    }
    }
    
    h6{
        display: flex;
        justify-content: center;
        color: rgb(0, 0, 0);
        text-align: center;
    
}

}