@import"variables.scss";

.flex-container{
    flex-wrap: wrap;
    background-image: url(../imagenes/pilates-fondo.webp);
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    .text{
        
        text-align: center;
        margin-top: 3.9rem;
        font-weight: 400;
    }
    .img{
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
        margin-top: 2rem;
    
    .pilates{
        flex-wrap: wrap;
        width: 80%;
        
    }
   }
  
  

    
        }
    


